# =========================================
# DEPENDENCIES
# =========================================

/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# =========================================
# TESTING
# =========================================

/coverage

# =========================================
# NEXT.JS
# =========================================

/.next/
/out/

# =========================================
# BUILD FILES
# =========================================

/build

# =========================================
# ENV FILES
# =========================================

.env*
!.env.example

# =========================================
# VERCEL
# =========================================

.vercel

# =========================================
# TYPESCRIPT
# =========================================

*.tsbuildinfo
next-env.d.ts

# =========================================
# DEBUG LOGS
# =========================================

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================================
# SYSTEM FILES
# =========================================

.DS_Store
Thumbs.db

# =========================================
# SECURITY
# =========================================

*.pem